@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: #ddd;
        color: black;
    }
}

.form-group {
    width: auto;
    max-width: 462px;
    margin-top: 6px;
    margin-left: 25px;
    overflow-x: scroll
}

.form-group-ext {
    width: auto;
    max-width: 1562px;
    margin-top: 6px;
    margin-left: 25px;
    overflow-x: scroll
}

button {
    width: 50px;
    height: 50px;
    margin-right: 7px;
    border-radius: 50%;
}

.img {
    height: auto;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    margin-left: 56px;
}

input[type="text"] {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#trans {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

#count {
    display: inline-block;
    width: 87%;
    text-align: right;
}

#search-res {
    margin-top: 3px;
}

.numberLabel {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 50px;
    display:inline-block
}

.termLabel {
    font-size: 18px;
}